@media only screen and (max-width: 768px) {


*{
    color: white;
    
}
  /*  font-family: Lexend Deca; fuente de titulos */

.container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(3, 410px);
    margin: 100px 30px 60px 30px;


}

/* Aqui comienzan los estilos del primer contenedor */
.sedans{
    background-color: hsl(31, 77%, 52%);
    
}
.sedans svg{
   margin-top: 40px;
   margin-left: 40px;
}
.sedans h1 {
    font-family:Big Shoulders Display;
    font-weight:lighter;
    font-size: 40px;
    margin-left: 40px;
}

.sedans p {
    color:hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
    font-weight: 100;
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
    padding: 0px 50px 0px 20px;
    line-height: 2em; 
}

.button__sedans{
    background-color: hsla(0, 0%, 100%, 0.75);
    border-style: none;
    border-radius: 20px;
    color:hsl(31, 77%, 52%);
    font-family: Lexend Deca;
    height: 45px;
    margin-left: 40px;
    width: 130px;
}
.button__sedans:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 95%);
}

/* Aqui comienzan los estilos del segundo contenedor */
.suvs{
    background-color:hsl(184, 100%, 22%);
    
}
.suvs svg{
    margin-top: 40px;
    margin-left: 40px;
}

.suvs h1 {
    font-family:Big Shoulders Display;
    font-weight:lighter;
    font-size: 40px;
    margin-left: 40px;
}

.suvs p {
    color: hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
    font-weight: 100;
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
    padding: 0px 50px 0px 20px;
    line-height: 2em; 
}


.button__suvs{
    background-color: hsla(0, 0%, 100%, 0.75);
    border-style: none;
    border-radius: 20px;
    color:hsl(184, 100%, 22%);
    font-family: Lexend Deca;
    margin-left: 40px;
    height: 45px;
    width: 130px;
}
.button__suvs:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 95%);
}

/* Aqui comienzan los estilos del tercer contenedor */

.luxury{
    background-color: hsl(179, 100%, 13%);
}

.luxury svg{
    margin-top: 40px;
    margin-left: 40px;
}

.luxury h1 {
    font-family:Big Shoulders Display;
    font-weight:lighter;
    font-size: 40px;
    margin-left: 40px;
}

.luxury p {
    color:hsla(0, 0%, 100%, 0.75);
    font-family: Lexend Deca;
    font-weight: 100;
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
    padding: 0px 50px 0px 20px;
    line-height: 2em; 
}


.button__luxury{
    background-color: hsla(0, 0%, 100%, 0.75);
    border-style: none;
    border-radius: 20px;
    color: hsl(179, 100%, 13%);
    font-family: Lexend Deca;
    margin-left: 40px;
    height: 45px;
    width: 130px;
    
}

.button__luxury:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 95%);
}

}